<!--Navbar-->
<div id="product-background" style="background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;">
    <!--Navbar-->

    {{#if user}}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="./assets/images/Icon.jpeg"><span>Agora</span></a>
        <a class="navbar-brand page-headers"><span>Welcome: </span><span>{{user.username}}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findProduct" href="/products">Search Products</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
                </li>

                <li class="nav-item"><a class="nav-link" id="logOut" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    {{else}}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><img src="./assets/images/Icon.jpeg"><span>Agora</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findProduct" href="/products">Search Products</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="signUp" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="logIn" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    {{/if}}
    <br><br><br><br>

    <div id="products" class="offset">

        <div class="col-12 jumbotron">
            <div class="col-12 text-center">
                <h2 class="page-headers">Products</h2>
            </div>

            <!--first product-->

            <div class="product-card">
                <img src="../assets/images/apple.jpg" class="card-img-top thumbnail" alt="...">
                <div class="product-card card-body">
                    <h5 class="card-title">Macbook Pro</h5>
                    <div class="productPrice">
                        <p>Price: $2999</p>
                    </div>
                    <p class="card-text">Brilliant Retina display with True Tone technology. Touch Bar and Touch ID.
                        Radeon
                        Pro 555X or 560X graphics with 4GB of video memory. Ultraffast SSD. Intel UHD Graphics 630. Four
                        Thunderbolt 3 (USB-C) ports. Battery life: Up to 10 hours wireless web, Up to 10 hours iTunes
                        movie
                        playback, Up to 30 days of standby time, Built-in 83.6-watt-hour lithium-polyer battery, 87W
                        USB-C
                        Power Adapter. 802. 11ac Wi-Fi. Force Touch trackpad. mac OS Mojave, inspired by pros but
                        designed
                        for everyone, with Dark Mode, Stacks, easier screenshots, new built-in apps, and more.</p>
                    <a href="#" class="btn btn-primary">Contact Seller</a>
                </div>
            </div>


            <!--Second product-->

            <div class="product-card">
                <img src="../assets/images/anatomy.jpg" class="card-img-top thumbnail" alt="...">
                <div class=" product-card card-body">
                    <h5 class="card-title">Gray's Anatomy Book</h5>
                    <div class="productPrice">
                        <p>Price: $399</p>
                    </div>
                    <p class="card-text">Written in the 1850s by a young doctor, Henry Gray, Gray's Anatomy was the most
                        comprehensive and accessible anatomy of its time. This beautifully produced slipcased volume
                        contains the historic text of the second edition and all of Henry Vandyke Carter's masterly
                        drawings. It is essential reading for anyone with an interest in the history of medicine or in
                        the
                        amazingly complex machine that is the human body.</p>
                    <a href="#" class="btn btn-primary">Contact Seller</a>
                </div>
            </div>


            <!--Third product-->

            <div class="product-card">
                <img src="../assets/images/ramen.jpg" class="card-img-top thumbnail" alt="...">
                <div class="product-card card-body">
                    <h5 class="card-title">Top Ramen</h5>
                    <div class="productPrice">
                        <p>Price: $10</p>
                    </div>
                    <p class="card-text">Cooks in 3 minutes. Perfect for a quick meal. Nissin Top Ramen Noodles. Chicken
                        flavor.</p>
                    <a href="#" class="btn btn-primary">Contact Seller</a>
                </div>
            </div>



        </div>
    </div>

</div>
</div>