   <!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="assets/images/Icon.jpeg"><span>Agora</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link">Search Products</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="findSeller">Find Seller</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="signUp" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="logIn" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
<br><br><br><br>

   <!--Public Info Card-->

   <div class="card" style="">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Seller Name</h5>
    <p class="card-text">Some stuff about the seller.</p>
  </div>



   <!--Items from this seller by category-->
<div class="input-group">
  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-info" type="button">Search</button>
  </div>
</div>
</div>