{{!-- Drop email button brings up a modal to take user email id and message. 
Send button in modal connected to SendGrid API, sends email to seller --}}
{{!-- Products posted by seller runs on a carousel below seller details--}}
{{!-- Click on product image should take to approprite product page --}}
<style>
    #inputReviewerName,
    #inputProdId {
        width: 100%;
    }
</style>
<!--Navbar-->
{{#if user}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/assets/images/Icon.jpeg"><span>Agora</span></a>
    <a class="navbar-brand page-headers"><span>Welcome: </span><span>{{user.username}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link">Search Products</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
            </li>

            <li class="nav-item"><a class="nav-link" id="logOut" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{{else}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/assets/images/Icon.jpeg"><span>Agora</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="findProduct" href="/products">Search Products</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="findSeller" href="/searchSeller">Find Seller</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="signUp" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item"><a class="nav-link" id="logIn" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

{{/if}}
<br><br><br><br>

<!--Public Info Card-->



<div class="card mx-5 product-card" style="background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;">
    <div class="card-body product-card">
        <h5 class="card-title" id="sellername" data-sellerid={{sellerId}}></h5>
        <div class="card-text">
            <div class="row">
                <div class="col-md-6">
                    <p id="sellerPh">Phone: </p>
                    <p id="sellerEmail">Email: </p>
                </div>
                <div class="col-md-6">
                    <p id="sellerLoc">Location: </p>
                    <button id="dropEmail" class="btn btn-info m-0">Drop a message to this seller</button>
                </div>
            </div>
        </div>
    </div>
</div><br>
<div class="mx-5" style="background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;">
    <h2 style="color:darkturquoise">Products by this seller</h2>
    <hr>
    <div class="product-images">
    </div>
</div>

<div id="review-div" class="m-5" style="background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;">
    <div class="row">
        <div class="col-10">
            <h2 style="color:darkturquoise">User Reviews</h2>
        </div>
        <div class="col-2">
            <button id="addreview" class="btn btn-info m-0">Add Review</button>
        </div>
    </div>
    <hr>

</div>

{{!-- Modal to send email --}}
<div id="emailmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalname">Drop message to </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <label class="field-headers" for="inputUserEmail">Your email</label>
                        <input type="email" class="form-control" id="inputUserEmail" placeholder="Email">
                    </div>
                    <div class="form-row">
                        <label class="field-headers" for="inputMessage">Message</label>
                        <textarea rows="5" form="usrform" class="form-control" id="inputMessage"
                            placeholder="Your message goes here"></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" id="sendemail" class="btn btn-primary">Send</button>
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- Modal to add review --}}
<div id="reviewmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalname">Add Review!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <label class="field-headers" for="inputReviewerName">Name</label>
                        <input type="text" class="form-control" id="inputReviewerName" placeholder="Your Name">
                    </div>
                    <div class="form-row">
                        <label class="field-headers" for="inputProdId">Product ID</label>
                        <input type="text" class="form-control" id="inputProdId" placeholder="ID">
                    </div>
                    <div class="form-row">
                        <label class="field-headers" for="inputReview">Review</label>
                        <textarea rows="5" form="usrform" class="form-control" id="inputReview"
                            placeholder="Add comment.."></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" id="postreview" class="btn btn-primary">Post</button>
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- Slick JS -->
<script type="text/javascript" src="/js/slick.min.js"></script>

<script type="text/javascript" src="/js/pubProfile.js"></script>