<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><img src="assets/images/Icon.jpeg"><span>Agora</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>




<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button type="button" class="btn btn-outline-light btn-lg">Search</button>
    <button type="button" class="btn btn-outline-light btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Search</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-outline-secondary">Action</button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>

    </div>
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
  </div>

  <input type="text" class="form-control searchBar" aria-label="Text input with segmented dropdown button" placeholder="Search...">
</div>

</div>

<!--Start of card for seller info-->

<div class="card">
  <!-- <img src="../assets/images/ramen.jpg" class="card-img-top thumbnail" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Top Ramen</h5>
    <div class="productPrice">
      <p>Price: $10</p>
    </div>
      <p class="card-text">Cooks in 3 minutes. Perfect for a quick meal. Nissin Top Ramen Noodles. Chicken
        flavor.</p>
      <a href="#" class="btn btn-primary">Contact Seller</a>
  </div>
</div>